<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./assets/RIVAL MEALS APPROVED-02.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    
    
    {{content | safe}}
     <footer>
        <div class="flex-container">
            <div class="list">
                <ul>
                    <li class="foot-head">Sitemap</li>
                    <li><a href="/">Home</a></li>
                    <li><a class="stuff" href="/menu/">Our menu</a></li>
                    <li><a class="stuff" href="#location">Locate us</a></li>
                    <li><a class="stuff" href="#bookings">Bookings</a></li>
                    <li><a class="stuff" href="#blog">Blog</a></li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li class="foot-head">Socials</li>
                    <li> <a href="https://www.instagram.com/rivalrymeals/"> Instagram</a> </li>
                    <li> <a href="https://twitter.com/rivalrymeals"> Twitter</a> </li>
                </ul>
            </div>
            <div class="list locate">
                <ul>
                    <li class="foot-head">Locate us</li>
                    <li><p>52 Off cresent road, Ikoyi Lagos.<br>
                        Be sure to drop by, we love beautiful<br> faces.</p></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>


