body {
    background-color: #161616 !important;
    padding: 0;
    margin: 0;
    font-family: var(--font-family1);
    overflow-x: hidden;

}

:root {
    --font-family1: 'Libre Baskerville',
        serif;
    --font-family2: 'Quicksand',
        serif;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-menu {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-menu>li>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu>li {
    list-style-type: none;
    padding: 5px;
}

.nav-menu>li:hover {
    border-bottom: 1px solid #fff;
}

.logo {
    width: 110px;
    height: 100px;
}

.show {
    display: none;
}

.hamburger {
    padding: 30px;
    z-index: 5;
    cursor: pointer;
    width: auto !important;
}

.hamburger:hover {
    border-bottom: none !important;
}

.ham {
    background-color: #fff;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.ham-tilt-left {
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
    width: 30px !important;

}

.ham-no-show {
    opacity: 0;
    transform: translateX(10px);
}

.ham-tilt-right {
    transform: rotate(-45deg) translateX(-7px) translateY(5px);
}

/* Card */
.card-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 110px;
}


.card {
    height: 330px;
    width: 260px;
    background-color: transparent;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: ease-in 0.15s;
}

.card h3 {
    color: #DCBE80;
    font-weight: lighter;
}

.card:hover {
    background-color: #1B510A;
}

.card p {
    font-family: var(--font-family2);
}

.card img {
    width: 150px;
    position: relative;
    top: -80px;

}

/* Menu */
.menu-head{
    text-align: center;
}

.menu{
    padding: 20px;
}

.menu h2{
    color: #DCBE80;
    font-weight: lighter;
}

.menu p{
    color: #fff;
    font-family: var(--font-family2);
}

/* Footer */
footer {
    height: 350px;
    background-color: #161616;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    height: 350px;
}

.list {
    padding: 0 2em;
}

.list ul {
    list-style-type: none;
    font-family: var(--font-family2);
    padding: 0 !important;
}

.list ul li {
    padding: 5px 5px;
}

.foot-head {
    color: #DCBE80;
    font-family: var(--font-family1);
    padding-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        height: auto;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 0px;
    }

    .list {
        padding: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .nav-menu>li {
        list-style-type: none;
        padding: 0px;
        width: 10px;

    }

    .nav-menu {
        width: 100% !important;
    }
}

@media only screen and (max-width: 750px) {
    .nav-menu {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 1035px) {
    .nav-menu {
        width: 70%;
    }
}