body {
    background-color: #161616 !important;
    padding: 0;
    margin: 0;
    font-family: var(--font-family1);
    overflow-x: hidden;
    scroll-behavior: smooth;

}

:root {
    --font-family1: 'Libre Baskerville',
        serif;
    --font-family2: 'Quicksand',
        serif;
}

.sidenav {
    display: flex;
    justify-content: space-around;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #161616;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    /*Disable vertical scroll*/
    transition: 0.5s;
}

.nav-out {
    height: 100vh;
}

.overflowy {
    overflow-y: hidden;
}


.sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidenav a {
    padding: 20px 0 35px 0;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.3;
    font-family: var(--font-family2);
    color: #ffffff;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.sidenav a:hover,
.sidenav a:focus {
    color: #DCBE80;
}

.social-link {
    display: grid;
    grid-template-columns: 70px 30px;
}

.social-link img {
    width: 35px;
    height: 35px;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-menu {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-menu>li>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu>li {
    list-style-type: none;
    padding: 15px;
}

.nav-menu>li:hover {
    border-bottom: 1px solid #fff;
}

.logo {
    width: 110px;
    height: 100px;
}

.show {
    display: none;
}

.hamburger {
    padding: 30px;
    z-index: 5;
    cursor: pointer;
    width: auto !important;
}

.hamburger:hover {
    border-bottom: none !important;
}

.ham {
    background-color: #fff;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.ham-tilt-left {
    transform: rotate(45deg) translateX(-3px) translateY(-5px);
    width: 30px !important;

}

.ham-no-show {
    opacity: 0;
    transform: translateX(10px);
}

.ham-tilt-right {
    transform: rotate(-45deg) translateX(-3px) translateY(5px);
}

/* Card */
.card-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 110px;
}


.card {
    height: 330px;
    width: 260px;
    background-color: transparent;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: ease-in 0.15s;
}

.card h3 {
    color: #DCBE80;
    font-weight: lighter;
}

.card:hover {
    background-color: #1B510A;
}

.card p {
    font-family: var(--font-family2);
}

.card img {
    width: 150px;
    position: relative;
    top: -80px;

}

/* Menu */
.menu-head {
    text-align: center;
}

.menu {
    padding: 20px;
}

.menu-content img {
    width: 150px;
}

.menu-content h3 {
    font-family: var(--font-family1);
    color: #DCBE80;
    font-weight: lighter;
}

.menu-content p {
    color: #fff;
    font-family: var(--font-family2);
}

.menu-content-large h2 {
    color: #DCBE80;
    font-weight: lighter;
    border-bottom: 1px solid #DCBE80;
    border-top: 2px solid #DCBE80;
    padding: 15px;
    width: fit-content;
    margin: 50px auto;
}

.whitebg {
    background-color: #fff !important;
}

.backtxt {
    color: #161616 !important;
}

.menu-content-large {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-gap: 20px;
    grid-template-rows: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.content {
    display: flex;
    align-items: center;
    text-align: left;
}

.content div{
    margin-left: 22.5px;
}

.menu h2 {
    color: #DCBE80;
    font-weight: lighter;
}

.menu p {
    color: #fff;
    font-family: var(--font-family2);
}

/* Footer */
footer {
    height: 350px;
    background-color: #161616;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    height: 350px;
}

.list {
    padding: 0 2em;
}

.list ul {
    list-style-type: none;
    font-family: var(--font-family2);
    padding: 0 !important;
}

.list ul li {
    padding: 5px 5px;
}

.foot-head {
    color: #DCBE80;
    font-family: var(--font-family1);
    padding-bottom: 10px;
}

.list a {
    text-decoration: none;
    color: #F6F5F3;
}

.list a:hover {
    color: #DCBE80;
}


@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        height: auto;
    }

    footer {
        display: flex;                          
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 0px;
    }

    .list {
        padding: 0px;
    }
    .content div{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .nav-menu>li {
        list-style-type: none;
        width: 10px;

    }

    .nav-menu {
        width: 100%;
    }

}

@media only screen and (max-width: 800px) {
    .card {
        margin-bottom: 80px;
    }

    .content {
        flex-direction: column;
    }

    .menu-content {
        grid-template-columns: repeat(auto-fill, 300px);
    }
}

@media only screen and (max-width: 940px) {
    .menu-content-large {
        height: auto !important;
    }
}

