body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville',
        serif;

}

nav {
    display: flex;
    justify-content: center;
}

.nav-menu {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-menu>li>a {
    text-decoration: none;
    color: #000;
}

.nav-menu>li {
    list-style-type: none;
    padding: 5px;
}

.nav-menu>li:hover {
    border-bottom: 1px solid #000;
}

.logo {
    width: 110px;
    height: 100px;
}

.show {
    display: none;
}

.hamburger {
    padding: 30px;
    z-index: 5;
    cursor: pointer;
    width: auto !important;
}

.hamburger:hover {
    border-bottom: none !important;
}

.ham {
    background-color: #000;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.ham-tilt-left {
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
    width: 30px !important;

}

.ham-no-show {
    opacity: 0;
    transform: translateX(10px);
}

.ham-tilt-right {
    transform: rotate(-45deg) translateX(-7px) translateY(5px);
}


@media only screen and (max-width: 1035px) {
    .nav-menu {
        width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .nav-menu {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .nav-menu>li {
        list-style-type: none;
        padding: 0px;
        width: 10px;

    }

    .nav-menu {
        width: 100%;
    }
}
footer {
    height: 60vh;
    background-color: #161616;
}
.flex-container {
    display: flex;
    justify-content: center;
    justify-self: baseline;
}