html{
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: var(--font-family1);
    overflow-x: hidden;
    display: none;
}

:root {
    --font-family1: 'Libre Baskerville',
        serif;
    --font-family2: 'Quicksand',
        serif;
}

.sidenav {
    display: flex;
    justify-content: space-around;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #161616;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    /*Disable vertical scroll*/
    transition: 0.5s;
}

.nav-out {
    height: 100vh;
}


.sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sidenav a {
    padding: 20px 0 35px 0;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.3;
    font-family: var(--font-family2);
    color: #ffffff;
    transition: 0.3s;
}

.sidenav a:hover,
.sidenav a:focus {
    color: #DCBE80;
}

.social-link {
    display: grid;
    grid-template-columns: 70px 30px;
}

.social-link img {
    width: 35px;
    height: 35px;
}

.overflowy{
    overflow-y: hidden;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-menu {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-menu ul{
    margin: 0;
    display: contents;
}

.nav-menu>ul>li>a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.logo-list{
    border-bottom: hidden !important;
}

.nav-menu>ul>li {
    list-style-type: none;
    padding: 15px;
}



.nav-menu>ul>li:hover {
    border-bottom: 1px solid #000;
}

.logo {
    width: 110px;
    height: 100px;
}

.show {
    display: none;
}

.hamburger {
    padding: 30px;
    z-index: 5;
    cursor: pointer;
    width: auto !important;
}

.hamburger:hover {
    border-bottom: none !important;
}

.ham {
    background-color: #000;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
    transition: 0.5s-;
}

.ham-tilt-left {
    transform: rotate(45deg) translateX(-3px) translateY(-5px);
    width: 30px !important;
    background-color: #fff;
}

.ham-no-show {
    opacity: 0;
    transform: translateX(10px);
}

.ham-tilt-right {
    transform: rotate(-45deg) translateX(-3px) translateY(5px);
    background-color: #fff;
}

/* Hero */
.hero {
    height: 84vh;
    width: 100%;
}

.hero-content-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.hero-content-desktop p,
.hero-content-mobile p {
    font-family: var(--font-family2);
    font-weight: bold;
}

.hero-content-mobile {
    display: none;
}

.hero h1 {
    font-size: 38px;
    font-weight: 500;
    color: hsl(69, 19%, 31%);
    font-family: var(--font-family2);
}

.hero p {
    margin-bottom: 50px;
}

.off-img1 {
    width: 450px;
}

.hero a {
    text-decoration: none;
    color: #fff;
    background-color: #1B510A;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--font-family2);

}

.hero a:hover {
    -webkit-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
}


.off-img {
    width: 400px;
    transform: translate(-250px, 0px) rotate(180deg);
    position: absolute;
    z-index: -1;
}

/* Jack */
.jackp {
    color: #1B510A;
    margin-left: 130px;
    position: relative;
    top: 75px;
    font-size: 23px;
}

.jack {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.card-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 200px;
}

.jack a {
    text-decoration: none;
    color: #000;
    background-color: #DCBE80;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    font-family: var(--font-family2);
    font-weight: bold;
}

.jack a:hover {
    -webkit-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
}

.card {
    height: 330px;
    width: 260px;
    background-color: #F6F5F3;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: ease-in 0.15s;
}

.card:hover {
    background-color: #1B510A;
    color: #fff;
    -webkit-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
}

.card p {
    font-family: var(--font-family2);
}

.card img {
    width: 150px;
    position: relative;
    top: -80px;

}


.big-img {
    width: 125px !important;
}


/* Form Section */
.formsec {
    height: 100vh;
    width: 100%;
    background-color: #161616;
    display: flex;
    align-items: center;
}

.formsec-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-text h2 {
    color: #DCBE80;
    font-weight: lighter;
}

.form-text p {
    color: #fff;
    font-family: var(--font-family2);
}

.formsec-cont img {
    width: 330px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field input {
    border: 1px solid #DCBE80;
    color: #DCBE80;
    font-family: var(--font-family2);
    padding: 15px;
    margin-bottom: 15px;
    background-color: transparent;
}

.form-field textarea {
    border: 1px solid #DCBE80;
    color: #DCBE80;
    font-family: var(--font-family2);
    padding: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    height: 150px;
}

.form-field input::placeholder {
    color: #DCBE80;
    font-family: var(--font-family2);
}

.form-field textarea::placeholder {
    color: #DCBE80;
    font-family: var(--font-family2);

}

.formsec-cont-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-field a {
    text-decoration: none;
    color: #161616;
    background-color: #DCBE80;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    font-family: var(--font-family2);
    font-weight: bold;
}

.form-field a:hover {
    -webkit-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 45px 80px -36px rgba(0, 0, 0, 0.75);
}

.formsec-cont-left img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateY(-100px);
}

/* Footer */
footer {
    height: 350px;
    background-color: #161616;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.list a{
    text-decoration: none;
    color: #F6F5F3;
}

.list a:hover{
    color: #DCBE80;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    height: 350px;
}

.list {
    padding: 0 2em;
}

.list ul {
    list-style-type: none;
    font-family: var(--font-family2);
    padding: 0 !important;
}

.list ul li {
    padding: 5px 5px;
}

.foot-head {
    color: #DCBE80;
    font-family: var(--font-family1);
    padding-bottom: 10px;
}

/* Location */
#location {
    background-color: #ffffff;
    height: auto;
    padding: 12px;
}

.locate-flex {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row-reverse;
}

.locate-image img {
    width: 330px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.locate-text {
    text-align: left;
}

.locate {
    width: 18em;
    display: flex;
    position: relative;
    top: 0;
}

.locate-text h4 {
    font-size: 25px;
    font-family: var(--font-family1);
    color: #1B510A;
    font-weight: 200;
}

.locate-text p {
    font-size: 20px;
    font-family: var(--font-family2);
    color: #161616;
}

.social {
    display: flex;
}

.social img {
    width: 30px;
    height: 30px;
    padding: 10px 20px 0 0;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        height: auto;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 0px;
    }

    .hero-h1 {
        font-size: 30px !important;
    }

    .off-img1 {
        width: 300px;
    }

    .list {
        padding: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .show {
        display: block;
    }

    .nav-menu{
        width: 100%;
    }

    .hide {
        display: none;
    }

    .nav-menu>li {
        list-style-type: none;
        padding: 0px;
        width: 10px;

    }

    .formsec-cont-left img {
        width: 200px;
    }

    .locate-text p {
        font-size: 17px;
    }

    .locate-text h4 {
        font-size: 20px;
    }

    .form-text p {
        font-size: 17px;
    }

    .form-text h2 {
        font-size: 20px;
    }

    .locate-text {
        text-align: left;
        padding: 20px;
    }

}

@media only screen and (max-width: 950px) {
    .locate-flex {
        display: flex;
    }

}



@media only screen and (max-width: 800px) {
    .hero-content-desktop {
        display: none;
    }

    .hero-content-mobile {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero {
        height: auto;
    }


    .jack {
        margin-top: 100px;
        height: auto;
    }

    .jackp {
        top: 200px;
        margin-left: 90px;
    }

    .formsec {
        height: auto;
    }

    .formsec-cont {
        flex-direction: column;
        padding: 10px;
    }

    .formsec-cont-right {
        width: 85%;
    }

    .form-field a {
        margin-bottom: 15px;
    }

    .formsec-cont-left img {
        display: none;
    }

    .locate-image img {
        display: none;
    }

}

@media only screen and (max-width: 830px) {
    .card {
        margin-bottom: 80px;
    }
}
