
body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville',
        serif;

}

nav {
    display: flex;
    justify-content: center;
}

.nav-menu {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-menu>li>a {
    text-decoration: none;
    color: #000;
}

.nav-menu>li {
    list-style-type: none;
    padding: 5px;
}

.nav-menu>li:hover {
    border-bottom: 1px solid #000;
}

.logo {
    width: 110px;
    height: 100px;
}

.show {
    display: none;
}

.hamburger {
    padding: 30px;
    z-index: 5;
    cursor: pointer;
    width: auto !important;
}

.hamburger:hover {
    border-bottom: none !important;
}

.ham {
    background-color: #000;
    width: 30px;
    height: 1px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.ham-tilt-left {
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
    width: 30px !important;

}

.ham-no-show {
    opacity: 0;
    transform: translateX(10px);
}

.ham-tilt-right {
    transform: rotate(-45deg) translateX(-7px) translateY(5px);
}

/* Hero */
.hero {
    height: 84vh;
    width: 100%;
}

.hero-content-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.hero-content-mobile {
    display: none;
}

.hero h1 {
    font-size: 36px;
    font-weight: lighter;
    color: #DCBE80;
}

.hero p {
    margin-bottom: 50px;
}

.off-img1 {
    width: 400px;
}

.hero a {
    text-decoration: none;
    color: #fff;
    background-color: #1B510A;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.off-img {
    width: 400px;
    transform: translate(-250px, 0px) rotate(180deg);
    position: absolute;
}

/* Jack */
.jackp {
    color: #1B510A;
    margin-left: 130px;
    position: relative;
    top: 55px;
    font-size: 23px;
}

.jack{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: 100vh;
}

.card {
    height: 330px;
    width: 260px;
    background-color: #F6F5F3;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card p {
    font-family: "Quicksand", sans-serif;
}

.card img {
    width: 150px;
    position: relative;
    top: -80px;

}

.big-img{
    width: 125px !important;
}

.grin {
    background-color: #1B510A;
    color: #fff;
}

@media only screen and (max-width: 1035px) {
    .nav-menu {
        width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .nav-menu {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .hero-content-desktop {
        display: none;
    }

    .hero-content-mobile {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero{
        height: auto;
    }

    .jack{
        margin-top: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 830px) {
    .card{
        margin-bottom: 80px;
    }
}


@media only screen and (max-width: 700px) {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .nav-menu>li {
        list-style-type: none;
        padding: 0px;
        width: 10px;

    }

    .nav-menu {
        width: 100%;
    }
}

footer {
    height: auto;
    background-color: #161616;
    bottom: -700px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: auto;
}
.list {
    padding: 0 2em;
}
.list ul {
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}
.list ul li {
   padding: 5px 5px;
}
.foot-head {
    color: #DCBE80;
    font-family: 'Libre Baskerville', serif;
    padding-bottom: 10px;
}
.locate {
    width: 18em;
    display: flex;
    position: relative;
    top: 0;   
}
@media only screen and (max-width: 350px) {
    .flex-container {
        flex-direction: column;
    }
}